/*custom properties*/
:root {
  --color-primario: #181818;
  --color-secundario: white;

  /*tipografia*/

  --tipo-principal: Arial, Helvetica, sans-serif;
  --tipo-secundaria: verdana;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primario: #181818;
    --color-secundario: white;
  }
}

/*reset de margin y padding*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*configuracion de la tipografia para toda la web*/

body {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: var(--tipo-principal);
  color: var(--color-primario);
  background-color: rgb(239, 231, 213);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/*titulo*/
.title-destacado{
  display:block;
  padding: 1em;
  margin: 1rem;
  display:grid;
  justify-content: center;
  text-align: center;
  border: 2px solid #593d0a;
  border-radius: 30%;
  transition: 0.3s ease;
}

.title-destacado:hover{
  background-color: #3b2922;
  color: #fff;

}

/*sleider infinito*/
.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  width: 30%;
  height: 200px;
  animation: slide-animation 5s infinite linear;
}

.slider__card {
  flex: 0 0 100%;
  border: 1px solid black;
  margin-right: 1rem;
}

.slider__card-link {
  text-decoration: none;
}

@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-295%);
  }
}

/*seccion subscripcion*/
.subscription {
  display: grid;
  align-items: center;
  padding-left: 33%;
  background-color: #3b2922;
  border-radius: 30%;
}

.subscription__image {
  background-image: url(/assets/img/www.BancodeImagenesGratuitas.com-Cafe-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 200px;
  margin: 1rem;
}

.subscription__content {
  width: 50%;
}

.subscription__content--h2 {
  font-size: 1rem;
  font-weight: bold;
}

.subscription__content--h3 {
  font-size: 1rem;
  font-weight: bold;
}

.subscription__content--p {
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
}

/*footer*/
footer {
  width: 100%;
  padding: 1em;
  margin: 2rem 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #a18b69;
  border-radius: 39%;
}

.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  transition: all 0.8s;
  cursor: pointer;
}

.icon:hover {
  background-color: #decd99;
  box-shadow: 0 0 20px #d39d47;
}

.icon:hover:nth-child(2) {
  background-color: #b87d4a;
  box-shadow: 0 0 20px #c37d21;
}

.icon:hover:nth-child(3) {
  background-color: #f4912e;
  box-shadow: 0 0 20px #dba11b;
}

.icon:hover:nth-child(4) {
  background-color: #391d03;
  box-shadow: 0 0 20px #50250c;
}

.icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
}

svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s ease-in-out;
}

.icon:hover circle {
  stroke-dasharray: 220;
}
