/*custom properties*/
:root {
  --color-negro: #181818;
  --color-blanco: rgb(252, 252, 252);

  /*tipografia*/

  --tipo-principal: Arial, Helvetica, sans-serif;
  --tipo-secundaria: verdana;
}
/*reset de margin y padding*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
/*configuracion de la tipografia para toda la web*/

body {
  font-family: var(--tipo-principal);
  color: var(--color-negro);
  background-color: rgb(239, 231, 213);
  height: 100vh;
}

li {
  list-style: none;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "article"
    "form"
    "comentarios"
    "foot";
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
}

/*nav*/

header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom: #1f1e1d solid;
  margin: 1rem auto;
  padding: 1em;
}

.logo {
  height: 90px;
  width: 100px;
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding: 1em;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav li {
  margin-right: 0.5rem;
}

nav a {
  border-radius: 40%;
  background-color: rgba(71, 18, 4, 255);
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 1em;
  transition: background-color 0.3s ease;
  font-family: monospace;
  font-family: fuente;
}

nav a:hover {
  background-color: #ffffff;
  color: #181818;
  border-radius: 40%;
  border-bottom: rgba(71, 18, 4, 255) solid 4px;
  padding: 2em;
}

/*article*/
article {
  grid-area: article;
  border-radius: 3%;
  margin: 1rem auto;
  width: 100%;
}

.img__article {
  margin: 1rem;
}

.parrafo-article {
  color: var(--color-blanco);
  font-size: large;
  padding: 1em;
  border-radius: 5%;
  background-color: #2b2928;
  margin: 1rem auto;
}
/*form*/
.container__form {
  grid-area: form;
  background-color: transparent;
  margin: 1rem auto;
  display: grid;
  place-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

label {
  font-family: fuente;
  border-top: #c37d21 solid 5px;
  border-bottom: #c37d21 solid 5px;
  padding: 1em;
}

input[type="submit"] {
  background-color: #cda42a;
  color: rgb(11, 10, 10);
  border-radius: 0% 50%;
  padding: 1em;
  cursor: pointer;
  margin: 1rem;
  width: 30%;
  font-size: 1rem;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

input {
  padding: 1em;
  border-radius: 10%;
}

input[type="contraseña"] {
  padding: 1em;
}

input[type="checkbox"] {
  padding: 1em;
  border: none;
}

.border_form-delete {
  border: none;
}

/*comentarios*/
section {
  grid-area: comentarios;
  position: relative;
  top: 2rem;
  background-color: #a18b69;
  border-radius: 20%;
  padding: 1.5em;
  margin: 1rem auto;
  width: 100%;
}
.avatar__img {
  height: 50px;
  width: 50px;
  margin: 1rem;
}

#nuevoComentario {
  width: 90%;
  padding: 1em;
  margin: 1rem;
  overflow-wrap: break-word;
}

.btn-comentarios button {
  background-color: #cda42a;
  color: rgb(17, 16, 16);
  border-radius: 0% 50%;
  padding: 1em;
  cursor: pointer;
  margin: 1rem;
}

.comentario {
  width: 300px;
  margin-bottom: 2rem;
  padding: 0.5em;
  background-color: #f2f2f2;
  border-radius: 5%;
  margin: 1rem;
}

.comentarios-2 {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  line-height: 2rem;
}

.close {
  display: flex;
  flex-wrap: wrap;
  float: right;
  font-size: 1rem;
  color: var(--color-blanco);
  cursor: pointer;
  border-radius: 100%;
  width: 20px;
  justify-content: center;
  position: relative;
  top: 0.3rem;
  background-color: #682f00;
}

/*footer*/
footer {
  grid-area: foot;
  padding: 1em;
  height: 222px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #2c261d;
  border-radius: 30%;
  position: relative;
  top: 1rem;
  width: 100%;
}

.icon {
  position: relative;
  top: 5rem;
  width: 80px;
  height: 80px;
  border-radius: 60%;
  transition: all 0.8s;
  cursor: pointer;
}

.icon:hover {
  background-color: #cc9f17;
  box-shadow: 0 0 20px #d39d47;
}

.icon:hover:nth-child(2) {
  background-color: #b87d4a;
  box-shadow: 0 0 20px #c37d21;
}

.icon:hover:nth-child(3) {
  background-color: #f4912e8d;
  box-shadow: 0 0 20px #ca690d95;
}

.icon:hover:nth-child(4) {
  background-color: #643104ae;
  box-shadow: 0 0 20px #883709b0;
}

.icon i {
  place-content: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
}

svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s ease-in-out;
}

.icon:hover circle {
  stroke-dasharray: 220;
}

/*grano de cafe imaginario*/
.grano-cafe {
  position: absolute;
  bottom: 10rem;
  height: 80px;
  background-color: #cc9f17;
  border-radius: 3% 56%;
}

@font-face {
  font-family: fuente;
  src: url("/assets/img/font/misc/SweetCherryFree-K7MZo.otf");
}

.titulo {
  padding: 1.5em;
  position: relative;
  font-family: fuente;
  letter-spacing: 2px;
}

/*desktop*/
@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1.5fr 2fr;
    grid-template-areas:
      "header header"
      "article form"
      "comentarios comentarios"
      "foot foot";
    height: 100vh;
  }

  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    border-bottom: #ffff solid 3px;
  }

  .logo {
    width: 200px;
    height: 200px;
    margin: 1rem 3rem;
  }

  nav li {
    margin-right: 4rem;
  }

  .container__form {
    grid-area: form;
  }

  article {
    grid-area: article;
  }

  section {
    grid-area: comentarios;
    position: relative;
    bottom: 66%;
  }

  /*comentarios*/

  .container__comentarios {
    grid-area: comentarios;
    width: 100%;
    margin: 1rem;
    padding: 2em;
  }
  .avatar__img {
    height: 50px;
    width: 60px;
    margin: 1rem;
  }

  #nuevoComentario {
    width: 100%;
  }

  .comentario {
    width: 500px;
    margin: 1rem;
    border-bottom: #181818 solid 2px;
  }

  .comentarios-2 {
    width: 500px;
  }
  .btn-comentarios button {
    cursor: pointer;
    position: relative;
    left: 80%;
  }

  footer {
    grid-area: foot;
    width: 100%;
    padding: 2em;
  }

  .icon {
    margin-right: 2rem;
  }
}

/* 
@media screen and (min-width: 1300px) {
  .container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr 1fr 1.5fr 1fr;
    grid-template-areas:
      "header header"
      "article form"
      "comentarios comentarios"
      "foot foot";
    height: 100vh;
    background-color: #680000;
  }

  header {
    grid-area: header;
    border-bottom: #ffff solid 3px;
  }

  .logo {
    width: 400px;
    height: 400px;
    margin: 1rem 3rem;
  }

  nav li {
    margin-right: 4rem;
  }

  .container__form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  article {
    grid-area: article;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    grid-area: comentarios;
    position: relative;
    bottom: 66%;
  }

  footer {
    grid-area: foot;
  }
}  */
